/* Kindle Only */
div#reviewFeatureGroup {
  margin-bottom: 7px;
}

/* Popover Animation */
#notasliterarias-popover {
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
}

#notasliterarias-popover.visible {
  opacity: 1;
  display: block;
}
